<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/MyPetAng/src/app/paginas/adopcion/adopcion-nuevo/adopcion-nuevo.component.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <app-encabezado></app-encabezado>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <app-principal-menu></app-principal-menu>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm">
                <form class="row g-3">
                    <div class="col-md-5">
                      <input type="text" class="form-control" placeholder="Nombres" required>
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="Apellidos" required>
                    </div>
                    <div class="col-md-2">
                        <input type="email" class="form-control" placeholder="Edad" required>
                    </div>
                    <br><br>
                    <div class="col-md-4">                     
                        <input type="text" class="form-control" placeholder="Telefono" required>
                      </div>
                    <div class="col-md-4">                     
                        <input type="text" class="form-control" placeholder="celular" required>
                      </div>
                    <div class="col-md-4">                     
                        <input type="email" class="form-control" placeholder="Correo">
                      </div>                   
                    <div class="col-md-6">                     
                        <input type="text" class="form-control" placeholder="Direccion">
                      </div>                   
                    <div class="col-md-6">                     
                        <input type="text" class="form-control" placeholder="Localidad">
                      </div>                   
                    <div class="mb-3">
                        <br><br>
                        <label for="exampleFormControlTextarea1" class="form-label">¿Por que quieres adoptar una mascota?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comentarios"></textarea>
                      </div>
                      <p>
                        ¿En que tipo de viviendo vives?
                      </p>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Casa
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          Departamento
                        </label>
                      </div>
                      <p>
                        ¿Ya has tenido mascotas?
                      </p>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Si
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          No
                        </label>
                      </div>
                      <p>
                        ¿Tu familia esta deacuerdo en adoptar?
                      </p>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Si
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          No
                        </label>
                      </div>
                      <p>
                        ¿Cuantas personas conforman tu hogar ?
                      </p>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          entre 1 y 5
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          entre 6 y 10
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          mas de 10
                        </label>
                      </div>
                      <div class="mb-3">
                        <br>
                        <label for="exampleFormControlTextarea1" class="form-label">¿Donde dormiria tu mascota?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Comentarios"></textarea>
                      </div>
                      <p>
                        ¿Esta dispuesto a ponerle todas las vacunas a su mascota?
                      </p>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Si
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          No
                        </label>
                      </div>
                      <p>
                        ¿ esta listo para realiazar la Adopcion?
                      </p>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                          Si
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                          No
                        </label>
                      </div>
                   <div class="col-6">
                      <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                   <div class="col-6">
                    <img class="imagendog" src="../../../../assets/img/tu_mejor_amigo_esta_esperando.jpg">
                    </div>          
                  </form>
            </div>        
        </div>
        <div class="row">
            <div class="col-sm">
                <app-pie></app-pie>
            </div>
        </div>
        </div>
</body>
</html>
