<p>adopcion-nuevo works!</p>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <app-encabezado></app-encabezado>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <app-principal-menu></app-principal-menu>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <pre>
                Aquí debería ir el formulario de nueva adopci&oacute;n
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eum dolore adipisci quia enim, atque quisquam
                accusamus sint animi quos ea cum explicabo repellat voluptatibus reprehenderit vero quae aliquam magni?
            </pre>
            <img src="../../../assets/img/tu_mejor_amigo_esta_esperando.jpg">
        </div>        
    </div>
    <div class="row">
        <div class="col-sm">
            <app-pie></app-pie>
        </div>
    </div>
    </div>