<!--[CABECERA]-->
<!--[Menu]
    [Contenido]-->
<!--[Pie]-->
<div class="container">  
    <div class="row">
        <div class="col"><app-encabezado></app-encabezado></div>
    </div>
    <div class="row">
        <!--<div class="col">Aqu&iacute; debe venir el menu - barra de navegaci&oacute;n de las razas</div>-->
        <app-raza-menu></app-raza-menu>
    </div>
    <div class="row">        
        <div class="col">
            &nbsp;Aquí debería ir el contenido de las razas, quizás tabla de razas registradas.
            <app-raza-listado></app-raza-listado>
        </div>
    </div>
    <div class="row">
        <div class="col"><app-pie></app-pie></div>
    </div>
</div>
