<!--[CABECERA]-->
<!--[Menu]
    [Contenido]-->
<!--[Pie]-->

<div class="row">
    <div class="col">
        <app-encabezado></app-encabezado>
    </div>
</div>
<div class="row">
    <!--<div class="col">Aqu&iacute; debe venir el menu - barra de navegaci&oacute;n de las razas</div>-->
    <div class="col">
        <app-raza-menu></app-raza-menu>
    </div>
</div>
<br>
<div class="row">
    <div class="col text-center">
        <p>&Eacute;stas son las razas registradas en la base de datos.</p>
        <app-raza-listado></app-raza-listado>
        <img class="imagen-raza" src="../../../../assets/img/perros_y_gatos_collage_001.jpg">
    </div>
</div>
<div class="row">
    <div class="col">
        <app-pie></app-pie>
    </div>
</div>