<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col">
            <app-encabezado></app-encabezado>
        </div>
    </div>
    <div class="row">
    
        <div class="col">
            <app-especie-menu></app-especie-menu>
        </div>
    </div>
    <div class="row">
        <div class="col">
            &nbsp;Aquí debería ir el contenido de las razas, quizás tabla de razas registradas.
            <app-especie-listado></app-especie-listado>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-pie></app-pie>
        </div>
    </div>
</body>
</html>

<!--<div class="col">Aqu&iacute; debe venir el menu - barra de navegaci&oacute;n de las razas</div>-->