<div class="row">
    <div class="col">
        <app-encabezado></app-encabezado>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-especie-menu></app-especie-menu>
    </div>
</div>
<br>
<div class="row">
    <div class="col text-center">        
        <p>&Eacute;stas son las especies registradas en la base de datos.</p>
        <app-especie-listado></app-especie-listado>
        <img class="imagen-raza" src="../../../../assets/img/especies_collage_001.jpg">
    </div>
</div>
<div class="row">
    <div class="col">
        <app-pie></app-pie>
    </div>
</div>