<!-- BARRA NAVEGACIÓN -->
<div class="bg-light">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark border-3 border-bottom border-primary">
        <div class="container-fluid">
            <a href="/principal" class="navbar-brand" style="margin-left: 20px;">MyPetAng</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div id="MenuNavegacion" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-3">
                <li class="nav-item">
                    <a class="nav-link" href="/Razas/Principal">Razas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Especies/Principal">Especies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Adopciones/Nuevo" style="margin-right: 20px;">Adopción</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!--<p>principal-menu works!</p>-->