<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Razas/Principal">Razas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Especies/Principal">Especies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Clientes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Adopciones/Nuevo">Adopciones</a>
    </li>
</ul>
<!--<p>principal-menu works!</p>-->