<div class="col-lg" id="divlistadeRaza">
    <table id="tbllistadeRaza" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Especie</th>
                <th scope="col" colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody id="tblbodylistadeRaza">
            <tr>
                <th scope="row">#</th>
                <td>raza.nombre</td>
                <td>raza.especie_id</td>
                <td>
                    <input type="button" value="Editar" onclick="//cargarRaza(raza.id);" class="btn btn-success" />
                </td>
                <td>
                    <input type="button" value="Eliminar" onclick="//eliminarRaza(raza.id);" class="btn btn-danger" />
                </td>
            </tr>
        </tbody>
    </table>
</div>