<p>raza-listado works!</p>
<div class="col-lg-6" id="divlistadeRaza">
    <table id="tbllistadeRaza" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Especie</th>
                <th scope="col" colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody id="tblbodylistadeRaza">
            <tr>
                <th scope="row">1</th>
                <td>NombreRaza</td>
                <td>NombreEspecie</td>
                <td>BotonEditar</td>
                <td>BotonEliminar</td>
            </tr>
        </tbody>
    </table>
</div>