<!--[CABECERA]-->
<!--[Menu]
        [Contenido]-->
<!--[Pie]-->
<div class="row">
    <div class="col-sm">
        <app-encabezado></app-encabezado>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <app-principal-menu></app-principal-menu>
    </div>
</div>
<br>
<div class="row margenes">
    <div class="col-4">
        <p style="text-align: justify;">Te orecemos los mejores cuidados y seguridad a tus mascotas, contamos con los
            recursos para mantener a tu mascota en un excelente estado incluyendo las respectivas vacunas a cada una de
            ellas.
        </p>
        <img class="ajustes" src="../../../assets/img/adoptar_img_001.jpg" style="background-size: cover;">
    </div>
    <div class="col-4">
        <p style="text-align: justify;">Contamos con una gran variedad de mascotas, tenemos todo tipo de especies y
            razas completamente legales para que puedas escoger a tu gusto y al mejor precio.
        </p>
        <img src="../../../assets/img/tu_mejor_amigo_esta_esperando.jpg" style="background-size: cover;">
    </div>
    <div class="col-4">
        <p style="text-align: justify;">Al adoptar a una mascota con nosotros cada mes estaremos llendo a su hogar para
            verificar que estadandoles los cuidades escenciales que tiene que tener su mascota, Brindemoles amor.
        </p>
        <img src="../../../assets/img/adoptar_img_002.jpg" style="background-size: cover;">
    </div>
</div>
<br>
<div class='row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-8'>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.3700334884493!2d-74.8000665858706!3d11.010838857835514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d90aaba58e5%3A0x5c19e4385ac14c54!2sZool%C3%B3gico%20de%20Barranquilla!5e0!3m2!1ses-419!2sco!4v1634358604429!5m2!1ses-419!2sco" width="600" height="450" style="border:0;margin-left: auto; margin-right: auto;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <div class='col-sm-2'></div>
</div>
<br>
<div class="row">
    <div class="col-sm">
        <br><br>
        <app-pie></app-pie>
    </div>
</div>