<div class="container">
    <!--[CABECERA]-->
    <!--[Menu]
        [Contenido]-->
    <!--[Pie]-->    
    <div class="row">
        <div class="col-sm"><app-encabezado></app-encabezado></div>
    </div>
    <div class="row">
        <div class="col-sm"><app-principal-menu></app-principal-menu></div>
    </div>
    <div class="row">        
        <div class="col-sm">&nbsp;Aquí debería ir el contenido de la página principal</div>
    </div>
    <div class="row">
        <div class="col-sm"><app-pie></app-pie></div>
    </div>
</div>
