<!--[CABECERA]-->
<!--[Menu]
        [Contenido]-->
<!--[Pie]-->
<div class="row">
    <div class="col-sm">
        <app-encabezado></app-encabezado>
    </div>
</div>
<div class="row">
    <div class="col-sm">
        <app-principal-menu></app-principal-menu>
    </div>
</div>
<br>
<div class="row margenes">
    <div class="col-4">
        <p style="text-align: justify;">Te orecemos los mejores cuidados y seguridad a tus mascotas, contamos con los
            recursos para mantener a tu mascota en un excelente estado incluyendo las respectivas vacunas a cada una de
            ellas.
        </p>
        <img class="ajustes" src="../../../assets/img/adoptar_img_001.jpg" style="background-size: cover;">
    </div>
    <div class="col-4">
        <p style="text-align: justify;">Contamos con una gran variedad de mascotas, tenemos todo tipo de especies y
            razas completamente legales para que puedas escoger a tu gusto y al mejor precio.
        </p>
        <img src="../../../assets/img/tu_mejor_amigo_esta_esperando.jpg" style="background-size: cover;">
    </div>
    <div class="col-4">
        <p style="text-align: justify;">Al adoptar a una mascota con nosotros cada mes estaremos llendo a su hogar para
            verificar que estadandoles los cuidades escenciales que tiene que tener su mascota, Brindemoles amor.
        </p>
        <img src="../../../assets/img/adoptar_img_002.jpg" style="background-size: cover;">
    </div>
</div>
<!--<div class="row margenes text-center">
    <div class="col-sm">
        <br><br>
        <p style="text-align: justify;">Te orecemos los mejores cuidados y seguridad a tus mascotas, contamos con los recursos para mantener a tu mascota en un excelente estado incluyendo las respectivas vacunas a cada una de ellas.</p>
    </div>
    <div class="col-sm">
        <br><br>
        <p style="text-align: justify;">Contamos con una gran variedad de mascotas, tenemos todo tipo de especies y razas completamente legales para que puedas escoger a tu gusto y al mejor precio.</p>
    </div>
    <div class="col-sm">
        <br><br>
        <p style="text-align: justify;">Al adoptar a una mascota con nosotros cada mes estaremos llendo a su hogar para verificar que estadandoles los cuidades escenciales que tiene que tener su mascota, Brindemoles amor.</p>
    </div>
</div>
<div class="row margenes text-center">
    <div class="col-sm">
        <img  class="ajustes" src="../../../assets/img/adoptar_img_001.jpg" style="height: 190px;">
    </div>
    <div class="col-sm">
        <img src="../../../assets/img/tu_mejor_amigo_esta_esperando.jpg" style="height: 190px;">
    </div>
    <div class="col-sm">
        <img src="../../../assets/img/adoptar_img_002.jpg" style="height: 190px;">
    </div>
</div>-->
<br>
<div class="row">
    <div class="col-sm">
        <br><br>
        <app-pie></app-pie>
    </div>
</div>