<p>especie-listado works!</p>
<div class="col-lg" id="divlistadeEspecie">
    <table id="tbllistadeEspecie" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>                
                <th scope="col" colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody id="tblbodylistadeEspecie">
            <tr>
                <th scope="row">#</th>
                <td>especie.nombre</td>                
                <td>
                    <input type="button" value="Editar" onclick="//cargarEspecie(especie.id);" class="btn btn-success" />
                </td>
                <td>
                    <input type="button" value="Eliminar" onclick="//eliminarEspecie(especie.id);" class="btn btn-danger" />
                </td>
            </tr>
        </tbody>
    </table>
</div>